/* =====laptop device responsive styles===== */
@media screen and (max-width: 1080px){

}


/* =====tablet device responsive styles ===== */
@media screen and (max-width:992px){
    /* common section */
  .text-bold{
  font-size: 2.5rem;
  font-weight: 900;
}
  
  /* header section  */
.banner-container{
    flex-direction: column;
}
.tooltip{
  padding: 14px 17px;
  top: 200px;
  left: 50px;
}
/* main section */
.habbit-cardbox{
  grid-template-columns: repeat(2 , 1fr);
}
.run img{
  width: 40%;
  margin: 10px;
}




}


/* =====mobile responsive styles===== */
/* header section */
@media screen and (max-width: 576px){
.nav-icon{
    display: none;
}
.menu-icon{
    display: block;
}
.banner-container{
    flex-direction: column;
}
.banner-contant>h1{
    font-size: 2.8rem;
}
.dark-btn{
    margin-left: 5px;
}
.tooltip{
  padding: 14px 17px;
  top: 40px;
  left: 170px;
}
.tooltiptwo{
  gap: 12px;
  padding: 12px 16px;
  left: -50px;
  bottom: 230px;
}
/* main section */
.text-bold{
  font-size: 2rem;
  font-weight: 900;
}
.habbit-cardbox{
  grid-template-columns: repeat(1 , 1fr);
}

.run{
  flex-direction: column;
}

.training-box{
  grid-template-columns: repeat(2, 1fr);
}

.training-box .card-2{
  grid-column: auto;
}
.training-box .card-4{
  grid-column: auto;
}
.card-3, .card-6{
  display: none;
}
.training-box .p4{
  bottom: 150px;
  left: 100px;

}
}