/* =====mobile responsive styles===== */
@media screen and (max-width: 576px){
.nav-icon{
    display: none;
}
.menu-icon{
    display: block;
}


.banner-container{
    flex-direction: column;
}
.banner-contant>h1{
    font-size: 3.8rem;
}
.dark-btn{
    margin-left: 5px;
}
.tooltip{
  padding: 14px 17px;
  top: 40px;
  left: 220px;
}
.tooltiptwo{
  gap: 12px;
  padding: 12px 16px;
  left: -50px;
  bottom: 230px;
}

}

/* =====tablet device responsive styles ===== */
@media screen and (min-width: 576px) and (max-width:992px){
.banner-container{
    flex-direction: column;
}
.tooltip{
  padding: 14px 17px;
  top: 200px;
  left: 50px;
}
}

/* =====laptop device responsive styles===== */
@media screen and (min-width: 1080px){

}