/* =====universal selector===== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =====common css with google font=====  */
.inter{
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}
header, main{
  max-width: 1036px;
  margin: 30px auto 0 auto;
}
.btn{
  background-color: #E6533C;
  padding: 16px 46px;
  border-radius: 25px;
  color: white;
  font-size: 1.02rem;
  border: none;
  cursor: pointer;
}
.text-gray{
  color: rgba(255, 255, 255, 0.5);
  margin:28px 0 28px 0;
  line-height: 24px;
}
.text-bold{
  font-size: 3rem;
  font-weight: 900;
}

/* =====header section styles===== */
/* nav */
.navbar{
  display: flex;
  justify-content: space-between;
}
.navbar>h3{
  color: #E6533C;
  font-weight: 800;
  font-size: 2.25rem;
  font-style: italic;
}
.nav-icon{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 47px;
  border: 1px solid rgb(70, 69, 69);
  border-radius: 25px;
  padding: 12px 4px;
  list-style: none;
}
.nav-btn{
  background-color: #E6533C;
  padding: 8px 20px;
  border-radius: 25px;
}

.nav-icon>li a{
  text-decoration: none;
  font-size: 1.125rem;
  color: white;
}
.menu-icon{
  display: none;
  cursor: pointer;
  font-size: 1.25rem;
}

/* banner */
.banner-container{
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.banner-contant{
  max-width: 600px;
}
.banner-contant>h1{
  font-size: 4.8rem;
}

.dark-btn{
  background-color: black;
  border: 1px solid white;
  margin-left: 14px;
}
.img-container{
  width: 70%;
  display: flex;
  justify-content: end;
  position: relative;
}

.tooltip{
  background-color: rgba(255, 255, 255, 0.089);
  position: absolute;
  padding: 17px 20px;
  border-radius: 12px;
  top: 120px;
  left: 310px;
  width: 200px;
}
.tooltiptwo{
  display: flex;
  gap: 12px;
  padding: 20px 23px;
  background-color: rgba(255, 255, 255, 0.089);
  position: absolute;
  border-radius: 12px;
  left: -20px;
  bottom: 70px;
  align-items: center;
}
.circle{
  height: 40px;
  width: 40px;
  background-color: #E6533C;
  border-radius: 50px;
}

.img-container>.tooltip>h1{
  font-size: 2.2rem;
  font-weight: 900;
}
.img-container>.tooltip>p{
  color: #EFEDE8;
}
.img-container>.tooltiptwo>div>h1{
  font-size: 2.2rem;
  font-weight: 900;
}
.img-container>.tooltiptwo>div>p{
  color: #EFEDE8;
}

/* =====main section styles ()===== */
/* habbit section */
.habbit{
  text-align: center;
}
.habbit-contant{
  margin-top: 100px;
  margin-bottom: 58px;
}

.habbit-cardbox{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 40px;
}
.card img{
  border-radius: 50%;
}
.card h5{
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 6px;
}

/* run section */
.run{
  background-color: #222222;
  margin: 100px 0 100px 0;
  display: flex;
  border-radius: 18px;
  align-items: center;
}
.run-contant{
  margin: 31px 0 34px 54px;
}

.run img{
  width: 50%;
  border-radius: 18px;
  margin: 30px;
}


